* {
  margin: 0;
  padding: 0;
  /* list-style: none; */
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  background: #EBEEF5;
}

.side-nav {
  width: 206px;
  height: 100%;
  background: #F7F6FF;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 30px;
  border-right: 2px solid #C4C4C4;
}

.logo {
  display: block;
  margin-bottom: 35px;
}

.logo-img {
  /* width: 70px;
  height: 35px; */
  padding: 20px 18px 40px;
  border-bottom: 2px solid #C4C4C4;
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  position: relative;
}

.nav-links li {
  padding: 10 0;
}

.nav-links li a {
  color: #C4C4C4;
  text-decoration: none;
  padding: 10px 14px;
  display: flex;
  align-items: center;
}

.nav-links li a i {
  font-size: 20px;
  line-height: 19.5px;
  margin-right: 20px;
}

.active {
  background-color: white;
  width: 190px;
  height: 40px;
  position: absolute;
  left: -11%;
  top: 0;
  z-index: -1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 5px 10px (255, 255, 255, 0.4);
  /*transition: all 0.5s;           (<---  So it could move)
   display: none;  */
}

.nav-link li:hover a {
  color: #fff;
  transition: 0.3s;
}

/* Moving hovew effect
 .nav-link li:hover~.active {
  display: block;
}

.nav-links li:nth-child(1):hover~active {
  top: 0;
}

.nav-links li:nth-child(2):hover~active {
  top: 0;
}

.nav-links li:nth-child(3):hover~active {
  top: 0;
} */